<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sejong.ex.mapper.BoardMapper">
    <select id="selectList" resultType="BoardVo"><!-- edu.sejong.ex.vo.BoardVo -->
    	<![CDATA[
        	SELECT * FROM MVC_BOARD ORDER BY bgroup desc, bstep asc
        ]]>
    </select>
    <select id="read" resultType="BoardVo">
    	<![CDATA[
        	select*from MVC_BOARD where bid=#{bnum}
        ]]>
    </select>    
	<insert id="insertBoard" parameterType="BoardVo">
	    <![CDATA[
        	insert into mvc_board (bid, bname, btitle, bcontent, bdate, bhit, bgroup, bstep, bindent) 
        	values (mvc_board_seq.nextval,#{bname},#{btitle},#{bcontent},sysdate,0,mvc_board_seq.currval,0,0)
        ]]>
	</insert>
	<update id="updateBoard" parameterType="BoardVo">
		<![CDATA[
        	update mvc_board set btitle=#{btitle}, bcontent=#{bcontent} where bid=#{bid}
        ]]>	
	</update>

	<delete id="deleteBoard" parameterType="BoardVo">
		 <![CDATA[
        	delete from mvc_board where bid = #{bid}
        ]]>
	</delete>

	<!-- 조회수  -->
	<update id="updateHit" parameterType="int">
		<![CDATA[
        	update mvc_board set bhit=bhit+1 where bid=#{bnum}
        ]]>	
	</update>	
	
	<!-- 댓글 입력. 최신 댓글은 언제나 게시글 바로 아래에 위치한다. -->
	<insert id="insertReply" parameterType="BoardVo">
	    <![CDATA[
        	insert into mvc_board (bid, bname, btitle, bcontent, bdate, bgroup, bstep, bindent) 
			values (mvc_board_seq.nextval, #{bname} , #{btitle} , #{bcontent} , sysdate, #{bgroup}, #{bstep}+1 , #{bindent}+1 )
        ]]>
	</insert>
	<!-- 기존에 작성되어 있는 댓글들의 bstep을 수정하는 작업 -->
	<update id="updateShape" parameterType="BoardVo">
		<![CDATA[
        	update mvc_board set bstep = bstep + 1 where bgroup = #{bgroup} and bstep > #{bstep}
        ]]>	
	</update>
</mapper>