<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sejong.ex.mapper.EmpMapper">
<!-- 
	<select id="selectJoinList1" resultType="EmpDeptVo">
    	<![CDATA[
        	select empno,ename,sal, emp.deptno edeptno,dname 
        	from emp, dept 
        	where emp.deptno = dept.deptno
        ]]>       
	</select>
-->
	<select id="selectJoinList1" resultMap="EmpDeptResult1">
    	<![CDATA[
        	select empno,ename,sal, emp.deptno edeptno,dname 
        	from emp, dept 
        	where emp.deptno = dept.deptno
        ]]>       
	</select>
	<resultMap id="EmpDeptResult1" type="EmpDeptVo">
		<result column="empno" property="empNo"/>
    	<result column="ename" property="ename"/>
   		<result column="sal" property="sal"/>
   		<result column="edeptno" property="eDeptno"/>
   		<result column="dname" property="dname"/>
	</resultMap>
</mapper>